@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "lemonade";
  default: true;
  prefersdark: false;
  color-scheme: "lemonade";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}
@plugin "daisyui/theme" {
  name: "forest";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}
@plugin "@tailwindcss/typography";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "LXGW Neo ZhiSong";
  src: local("LXGW Neo ZhiSong"), local("LXGWNeoZhiSong"),
    url("fonts/LXGWNeoZhiSong.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW Neo XiHei";
  src: local("LXGW Neo XiHei"), local("LXGWNeoXiHei"),
    url("fonts/LXGWNeoXiHei.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai GB Lite";
  src: local("LXGW WenKai GB Lite"), local("LXGWWenKaiGBLite"),
    url("fonts/LXGWWenKaiGBLite-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai GB Lite";
  src: local("LXGW WenKai GB Lite"), local("LXGWWenKaiGBLite"),
    url("fonts/LXGWWenKaiGBLite-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zhuque Fangsong (technical preview)";
  src: local("Zhuque Fangsong (technical preview)"),
    local("ZhuqueFangsong(technicalpreview)"),
    url("fonts/ZhuqueFangsong-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-song: "LXGW Neo ZhiSong", "STKaiti", "KaiTi", serif;
  --font-hei: "LXGW Neo XiHei", "STHeiti", "STXihei", "SimHei", sans-serif;
  --font-kai: "LXGW WenKai GB Lite", "STKaiti", "KaiTi", cursive;
  --font-fang: "Zhuque Fangsong (technical preview)", "STFangsong", "FangSong",
    serif;
}

@layer utilities {
  .font-song {
    font-family: var(--font-song);
  }

  .font-hei {
    font-family: var(--font-hei);
  }

  .font-kai {
    font-family: var(--font-kai);
  }

  .font-fang {
    font-family: var(--font-fang);
  }

  .prose blockquote,
  .prose em {
    quotes: none;
    font-family: var(--font-fang);
  }
}
