@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "lemonade";
  default: true;
  prefersdark: false;
  color-scheme: "lemonade";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}
@plugin "daisyui/theme" {
  name: "forest";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}
@plugin "@tailwindcss/typography";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: ZhiSong;
  font-display: swap;
  src: url("fonts/LXGWNeoZhiSongPlus.ttf");
}

@font-face {
  font-family: XiHei;
  src: url("fonts/LXGWNeoXiHeiPlus.ttf");
  font-display: swap;
}

@font-face {
  font-family: WenKai;
  font-display: swap;
  src: url("fonts/LXGWWenKaiGBLite-Medium.ttf");
}

@font-face {
  font-family: ZhuQue;
  src: url("fonts/ZhuqueFangsong-Regular.ttf");
  font-display: swap;
}

@theme {
  --font-song: ZhiSong, "STKaiti", "KaiTi", serif;
  --font-hei: XiHei, "STHeiti", "STXihei", "SimHei", sans-serif;
  --font-kai: WenKai, "STKaiti", "KaiTi", cursive;
  --font-fang: ZhuQue, "STFangsong", "FangSong", serif;
}

@layer utilities {
  .font-song {
    font-family: var(--font-song);
  }

  .font-hei {
    font-family: var(--font-hei);
  }

  .font-kai {
    font-family: var(--font-kai);
  }

  .font-fang {
    font-family: var(--font-fang);
  }

  .prose blockquote,
  .prose em {
    quotes: none;
    font-family: var(--font-fang);
  }
}
